/*
 *Name: Mary Bulanadi
 *UnityID: mtbulana
 *Date: 9/23/22
 *Assignment: Webpages Independent Assignment
 *Description: Independent Assignment 5 (HTML and Styling)
 */
 
body {
    background-color: #353535;
	}

.table-border {
    border: 3px solid #284B63;
	}
	
.img-border {
	border: 2px outset #3C6E71;
	}

#photo-resize {
    max-width: 200 px ;
    max-height: 250px ;
	}
