/*
 *Name: Mary Bulanadi
 *UnityID: mtbulana
 *Date: 9/23/22
 *Assignment: Webpages Independent Assignment
 *Description: Independent Assignment 5 (HTML and Styling)
 */
 
body {
    background-color: #EFF6E0;
	}

.table-border {
    border: 3px solid #598392;
	}
	
.img-format {
	border: 2px outset #AEC3B0;
	max-width: 200 px;
    max-height: 250px;
	}

