/*
 *Name: Mary Bulanadi
 *UnityID: mtbulana
 *Date: 9/22/22
 *Assignment: Webpages GL
 *Description: Guided lab assignment, about me webpage
 */
 
p {
    font-family:Times;
    font-size: 16px;
    color:#2F3E46;
	}

.table-border {
    border: 1px solid #FFFFFF;
	}

#photo-resize {
    max-width: 250 px ;
    max-height: 300px ;
	}
