/*
 *Name: Mary Bulanadi
 *UnityID: mtbulana
 *Date: 9/22/22
 *Assignment: Webpages GL
 *Description: Guided lab assignment, about me webpage
 */
 
p {
    font-family:Times;
    font-size: 16px;
    color:#;
	}

.table-border {
    border: 1px solid ;
	}

#id {
    property:value;
	}
